body {
    width: 1152;
    height: 2041;
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    padding: 60px 0;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

}


.perfil img {
    width: 220px;
    height: 220px;
    top: 110px;
    left: 760px;
    border-radius: 50%;
}

.info {
    width: 550px;
}

.info h1 {
    font-size: 44px;
    margin-top: 15px;
    font-weight: 700;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
}

.info button {
    background-color: #FF6464;
    color: white;
    padding: 10px;
    width: 208px;
    height: 47px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #FF6464;
    border: 2px solid #FF6464;
}

.azul {
    padding: 50px 0;
    background-color: #EDF7FA;

}

h2 {
    margin-left: 170px;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    letter-spacing: 0px;
    vertical-align: bottom;

}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.card {
    width: 418px;
    height: 295px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 20px;

}

.cards h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #111;
}

.card p {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 20px;
}

.traco {
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-right: 10px;

}

.traco span {
    margin: 25px;
}

.ano {
    display: inline-block;
    background-color: #142850;
    color: white;
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 20px;
    margin-right: 8px;
}

.categoria {
    color: #888;
    font-size: 0.9rem;
}

.titulo {
    align-items: center;
    text-align: center;
}

#imagem1 {
    background-image: url(cardapio.png);
    background-size: cover;
    width: 246px;
    height: 180px;
    border-radius: 6px;
}

#experiencias {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 24px;
    margin-left: 170px
}

.linha {
    display: flex;
}

.linha p {
    margin-top: 8px;
    max-width: 500px;
    line-height: 1.4;
}



.linha h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

footer {
    background-color: white;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    flex-direction: column;

}

ul {
    display: flex;
    list-style: none;
    margin-top: 50px;
}

li {
    display: inline;
    margin-right: 10px;
}

footer p {
    font-size: 0.9rem;
    text-align: center;
}

hr {
    background-color: #E0E0E0;
    width: 1000px;
    margin-right: 90px;
}

@media (max-width: 600px) {

    .perfil {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .info {
        width: 90%;
    }

    .perfil img {
        order: -1;
        width: 160px;
        height: 160px;
    }

    h2 {
        text-align: center;
        margin-left: 0 !important;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90% !important;
        height: auto;
    }

    #experiencias {
        margin-left: 0 !important;
        padding: 0 20px;
    }

    .linha {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    hr {
        width: 90%;
        margin: 20px auto;
    }
}